{% extends "auth/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Log In {{ super() }}{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Log In</h1>
</div>
<div class="col-md-4">
    {{ wtf.quick_form(form) }}
    <br>
    <p>Forgot your password? <a href="{{ url_for('auth.password_reset_request') }}">Click here to reset it</a>.</p>
    {% if registration_open %}
    <p>New user? <a href="{{ url_for('auth.register') }}">Click here to register</a>.</p>
    {% endif %}
</div>
{% endblock %}
